Repository ccremer/charts, pull requests merged in 2022-01, with the labels that each got.

#109 Add stiebeleltron-stack chart
  README.md
  charts/stiebeleltron-stack/.helmignore
  charts/stiebeleltron-stack/Chart.lock
  charts/stiebeleltron-stack/Chart.yaml
  charts/stiebeleltron-stack/README.gotmpl.md
  charts/stiebeleltron-stack/README.md
  charts/stiebeleltron-stack/files/grafana/stiebeleltron-dashboard.js
  charts/stiebeleltron-stack/files/influxdb/migration/domestic_hotwater_temperature_actual.flux
  charts/stiebeleltron-stack/files/influxdb/migration/domestic_hotwater_temperature_target.flux
  charts/stiebeleltron-stack/files/influxdb/migration/electric_reheating_dualmode_reheating_temperatur_heating.flux
  charts/stiebeleltron-stack/files/influxdb/migration/electric_reheating_dualmode_reheating_temperatur_hotwater.flux
  charts/stiebeleltron-stack/files/influxdb/migration/energy_heating_total_dhw_day.flux
  charts/stiebeleltron-stack/files/influxdb/migration/energy_heating_total_dhw_total.flux
  charts/stiebeleltron-stack/files/influxdb/migration/energy_heating_total_heating_day.flux
  charts/stiebeleltron-stack/files/influxdb/migration/energy_heating_total_heating_total.flux
  charts/stiebeleltron-stack/files/influxdb/migration/general_flow.flux
  charts/stiebeleltron-stack/files/influxdb/migration/general_heating_circuit_pressure.flux
  charts/stiebeleltron-stack/files/influxdb/migration/general_output_activity_ratio_heat.flux
  charts/stiebeleltron-stack/files/influxdb/migration/general_output_activity_ratio_water.flux
  charts/stiebeleltron-stack/files/influxdb/migration/general_temperature_condenser.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_buffer_temperature_actual.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_buffer_temperature_target.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_fixed_temperature.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_flow_temperature_heatpump.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_flow_temperature_preflow.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_flow_temperature_reheating.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_outside_temperature.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_temperature_hc1_actual.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_temperature_hc1_target.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_temperature_hc2_actual.flux
  charts/stiebeleltron-stack/files/influxdb/migration/heating_temperature_hc2_target.flux
  charts/stiebeleltron-stack/files/influxdb/migration/process_data_compressor_delay_counter.flux
  charts/stiebeleltron-stack/files/influxdb/migration/room_temperature_heating_circuit_hc1_actual.flux
  charts/stiebeleltron-stack/files/influxdb/migration/room_temperature_heating_circuit_hc1_target.flux
  charts/stiebeleltron-stack/files/influxdb/migration/room_temperature_heating_circuit_hc2_actual.flux
  charts/stiebeleltron-stack/files/influxdb/migration/room_temperature_heating_circuit_hc2_target.flux
  charts/stiebeleltron-stack/files/influxdb/migration/runtime_compressor_dhw.flux
  charts/stiebeleltron-stack/files/influxdb/migration/runtime_compressor_heating.flux
  charts/stiebeleltron-stack/files/influxdb/migration/runtime_reheating_1.flux
  charts/stiebeleltron-stack/files/influxdb/migration/runtime_reheating_2.flux
  charts/stiebeleltron-stack/files/influxdb/task.sh
  charts/stiebeleltron-stack/templates/_helpers.tpl
  charts/stiebeleltron-stack/templates/grafana/cm-dashboard.yaml
  charts/stiebeleltron-stack/templates/grafana/secret-datasource.yaml
  charts/stiebeleltron-stack/templates/influxdb/cm-influxdb-task.yaml
  charts/stiebeleltron-stack/templates/influxdb/job-influxdb-task.yaml
  charts/stiebeleltron-stack/values.yaml
Labels: enhancement, chart/stiebeleltron-stack

#113 Fix grafana dashboard file name
  README.md
  charts/stiebeleltron-stack/Chart.yaml
  charts/stiebeleltron-stack/README.md
  charts/stiebeleltron-stack/files/grafana/stiebeleltron-dashboard.json
Labels: bug, chart/stiebeleltron-stack

#115 Fix stiebeleltron dashboard using old datasource variables
  README.md
  charts/stiebeleltron-stack/Chart.yaml
  charts/stiebeleltron-stack/README.md
  charts/stiebeleltron-stack/files/grafana/stiebeleltron-dashboard.json
Labels: bug, chart/stiebeleltron-stack

#116 Update `kubernetes-zfs-provisioner` RBAC API version to v1
  README.md
  charts/kubernetes-zfs-provisioner/Chart.yaml
  charts/kubernetes-zfs-provisioner/README.md
  charts/kubernetes-zfs-provisioner/templates/rbac.yaml
Labels: chart/kubernetes-zfs-provisioner, change
